{% extends "account/base.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags %}
{% load account %}

{% block head_title %}
  {% translate "Redefinição password" %}
{% endblock head_title %}
{% block content %}
  <h1 class="mt3-h1">{% translate "Redifinição password" %}</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p class="verification-paragraph">
    {% blocktranslate %}Enviamos um e-mail para si. Por favor siga as instruções do email!{% endblocktranslate %}
  </p>
{% endblock content %}
