{% load crispy_forms_filters %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}
{% load account %}
{% load crispy_forms_tags %}
{% if products %}
  {% for product in products %}
    <div class="col-md-4">
      <a href="{{ product.URL }}" target="_blank"
         class="card card_products margin_right_products_cards text-decoration-none">
        <div>
          {% image product.image width-320 height-180 as product_image %}
          <img src="{{ product_image.url }}" alt="{{ product_image.alt }}" class="image_cards_products mx-0">
        </div>
        <div class="card-body">
          <p class="text-center font_family_products color_text_products text-uppercase">{{ product.title }}</p>
          <p class="text-center font_family_products color_price_products">{{ product.price }}&nbsp;EUR</p>
        </div>
      </a>
    </div>
  {% endfor %}
{% else %}
  {% include '404/404_products.html' %}
{% endif %}



