{% load i18n static %}
<table class="mt-5 table_style_data_projects">
  <tr>
    <td class="table_field px-3">Ref. Orçamento</td>
    <td class="table_field px-3">Título</td>
    <td class="table_field px-3">Cliente</td>
    <td class="table_field px-3">Localização</td>
    <td class="table_field px-3">Valor</td>
    <td class="table_field px-3">Estado</td>
  </tr>
  {% for project in projects %}
    <tr class="table_cell_hover" ondblclick="window.location='{% url 'edit_project' project.key %}'">
      <div class="d-flex">
        <td class="table_field px-3">{{ project.quote_number }}</td>
        <td class="table_field px-3">{{ project.title }}</td>
        <td class="table_field px-3">{{ project.client }}</td>
        <td class="table_field px-3">{{ project.address }}</td>
        <td class="table_field px-3">{{ project.value }}</td>
        <td class="table_field project_state px-3">{{ project.state|title }}</td>
      </div>
    </tr>
  {% endfor %}
</table>

