/* CSS */
.button-19 {
  background-color: #1aaab4;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 150px;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #62c6c8;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}


.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

.button-20 {
  background-color: #8d1f1f;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: din-round, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .8px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100px;
}

.button-20:after {
  background-clip: padding-box;
  background-color: #c22323;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}


.button-20:focus {
  user-select: auto;
}

.button-20:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-20:disabled {
  cursor: auto;
}

.button-20:active {
  border-width: 4px 0 0;
  background: none;
}

.button-21 {
  background-color: #d0ab0b;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: din-round, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .8px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100px;
}

.button-21:after {
  background-clip: padding-box;
  background-color: #ffcf00;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}


.button-21:focus {
  user-select: auto;
}

.button-21:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-21:disabled {
  cursor: auto;
}

.button-21:active {
  border-width: 4px 0 0;
  background: none;
}

.searchClient {
  margin-right: 25px;
  width: 75%;
}


$transition : .5s;
$width : 2rem;
$radius : 1rem;
$angle : 35deg;
$bg : whitesmoke;
$buttonbg : dodgerblue;

.previous_client_button {
  display: flex;
  background: $buttonbg;
  padding: 1rem;
  border-radius: $width;
  background: $buttonbg;
  cursor: pointer;
  transition: $transition;
  margin: 1rem;

  &:active {
    background: darken($buttonbg, 20%);
  }
}

.before_arrow {
  position: relative;
  background: $bg;
  width: $width;
  height: 0.2rem;
  transition: $transition;
  border-radius: $radius;
  transform-origin: right center;

  &:before { transform: rotate(-$angle); }
  &:after { transform: rotate($angle); }

  &:before, &:after {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      background: $bg;
      width: 1rem;
      height: 0.2rem;
      transform-origin: 0.1rem center;
      transition: $transition;
      border-radius: $radius;
    }
}


.next_client_button {
  display: flex;
  background: $buttonbg;
  padding: 1rem;
  border-radius: $width;
  background: $buttonbg;
  cursor: pointer;
  transition: $transition;
  margin: 1rem;

  &:active {
    background: darken($buttonbg, 20%);
  }
}

.after_arrow {
  position: relative;
  background: $bg;
  width: $width;
  height: 0.2rem;
  transition: $transition;
  border-radius: $radius;
  transform-origin: left center;

  &:before { transform: rotate($angle); }
  &:after { transform: rotate(-$angle); }

  &:before, &:after {
      display: block;
      content: "";
      position: absolute;
      right: 0;
      background: $bg;
      width: 1rem;
      height: 0.2rem;
      transform-origin: $width*0.47 center;
      transition: $transition;
      border-radius: $radius;
    }
}

