body {
  font-family: 'Source Sans Pro', sans-serif;
}


.imagem_nav {
  width: 110px;
}

.margin_nav {
  margin-right: 5%;
}

.item-nav-style {
  font-size: 21px;
  font-weight: 400;
}

.color-black {
  color: black;
}

.button-nav {
  color: black;
  border: 2px solid #62C6C8;
  width: max-content;
  font-size: 21px;
  background: white;
  padding: 11%;
}

.nav-item:hover {
  text-decoration: underline;
  text-decoration-color: #d5cbcb;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
