{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
  <div class="container px-4 py-5">
    <h2><span class="termos_class title-size">Creditos</span></h2>
    <p><span class="termos_class paragraph-size">De modo a construir este website usamos imagens de terceiros, desta forma, nesta secção agradeceremos aos autores dando o devido crédito pelas suas imagens.</span>
    </p><br>
    <div class="creditos-section">
      <a
        href="https://br.freepik.com/vetores-gratis/ilustracao-do-conceito-de-multitarefa_9930923.htm#query=multitask&position=4&from_view=search&track=sph&uuid=c8f66784-237b-4c30-88a1-81d668327175">Imagem
        produtividade
      </a><br><br><br>
      <a
        href="https://www.freepik.com/free-vector/creative-digital-gamification-illustration_21742829.htm#query=perfection%20illustrations&position=9&from_view=keyword&track=ais&uuid=34463d07-0eb9-4d71-87af-47856bd642c5">Imagem
        Precisão</a><br><br><br>
      <a
        href="https://iconscout.com/free-illustration/data-2103908">Imagem dados
      </a><br><br><br>
    </div>
  </div>
{% endblock content %}
