{% load static %}

{% for item in menu_items %}
  {% if item.href == 'login' %}
    {% if user.is_authenticated %}
      {# Authenticated: the login entry becomes the way into the builder. #}
      <a class="mx-4 nav-link item-nav-style color-black"
         href="{% url 'project_list' %}">{{ item.text }}</a>
    {% else %}
      <a class="mx-4 nav-link item-nav-style color-black"
         href="{% url item.href %}">{{ item.text }}</a>
    {% endif %}
  {% else %}
    {# Section anchors (#sobre, #opiniões, #faqs) resolve on the page itself. #}
    <a class="mx-4 nav-link item-nav-style color-black"
       href="{{ item.href }}">{{ item.text }}</a>
  {% endif %}
{% endfor %}
